# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=

# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# S3-compatible storage (S3Mock for local development)
# https://github.com/adobe/S3Mock
S3_ENDPOINT="http://localhost:9090"
S3_BUCKET="lending-library"
S3_ACCESS_KEY="foo"
S3_SECRET_KEY="bar"
S3_REGION="us-east-1"
